*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #343C56;
}

.m{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 60px 0;
}

ul li{
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background: #FF0101;
    color: white;
    text-align: center;
    padding: 14px 45px;
}

.o{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
}

.red{
    background: #000000;
    width: 264px;
    height: 118px;
    border-radius: 40px;
}

.rox{
    display: flex;
    justify-content: center;
}

.p{
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 44px 81px;
}

.t{
    width: 400px;
    height: 200px;
    border-radius: 50px;
    background: #EB1616;
}

.l{
    width: 400px;
    height: 200px;
    border-radius: 50px;
    background: #EB1616; 
}

.k{
    display: flex;
    justify-content: space-between;
}

.green{
    background: #61FF00;
    width: 300px;
    height: 109px;
    margin: 45px 50px;
}

.gree{
    background: #61FF00;
    width: 300px;
    height: 109px;
    margin: 45px 50px;
}

.m{
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: 28px 20px;
}

.n{
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: 28px 20px;
}

